{% extends 'base.html' %}
{%block title%}
Registration page
{%endblock%}

{%block content%}
<div class="container pd-20">
    <h1 style="margin-top:100px; font-family: cursive;">
        Welcome to Registration page
    </h1>
    <h2>{{ msg }}</h2>
    <form name="register" action="{{url_for('register')}}" method="POST" onsubmit="submitted()" style="font-family: cursive;">
        <div class="form-group">
            <label class="col-md-5" style="font-family: cursive;">User Name</label><input class="form-control col-md-5" name="name" type="text" autocomplete="off"
                required>
            <label class="col-md-5" style="font-family: cursive;">Email</label><input class="form-control col-md-5" name="email" type="text" autocomplete="off" required>
            <label class="col-md-5" style="font-family: cursive;">New Password</label><input class="form-control col-md-5" id="p1" name="password1"
                type="password" required>
            <label class="col-md-5" style="font-family: cursive;">confirm Password</label><input class="form-control col-md-5" id="p2"
                name="password" type="password" required>
            <input name="submit" class="btn btn-success" type="submit" value="submit" style="margin-top: 19px;">
            <input class="btn btn-danger" type="reset" value="clear" style="margin-top: 19px;">
        </div>
        <div>
            <a class="btn btn-primary" href="{{ url_for('login') }}">Login instead?</a>
        </div>
    </form>
</div>
{%endblock%}